@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="font-size: 120%;">
    <h3><span class="glyphicon glyphicon-home"></span>Multi-tenant Sample</h3>
    <p class="lead">What is it?</p>
    <p>
        This is the code sample accompanying my blog article series on onboarding an application as a
        multi-tenant application with Microsoft Azure Active Directory.
    </p>
    <p>
        You can use the concepts and code in this article on its own. This code in this library has NO LICENSE,
        meaning I own the license to the code but you are allowed to do what you wish with it.
    </p>
    <p>
        Follow the article series <a target="_blank" href="https://blog.sujayvsarma.com/how-to/multi-tenant-azure-ad-application/register-multi-tenant-app-in-azure-ad/">here</a>.
    </p>
</div>

@section AdditionalStyles {
    <style type="text/css">
        h3 {
            text-align: left;
            color: #6c757d !important;
            border-top: 1px dashed #6c757d;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
    </style>
}